<div class="row">
<% @lists.each do |list| %>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <% list.image_url.nil? ? image_url = "placeholder.jpg" : image_url = list.image_url %>
      <%= image_tag image_url, alt: "...", class: "card-img-top" %>
      <div class="card-body">
        <div class="card-text">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div>
<%= link_to "Create a new list", new_list_path %>
